.post
  &-title
    font-weight 500
    font-size 32px
    line-height 1.125
    letter-spacing .004em
    +breakpoint('md')
      font-size 40px
      line-height 1.1
      letter-spacing 0
    +breakpoint('lg')
      font-size 48px
      line-height 1.08349
      letter-spacing -.003em

  &-header
    @apply flex items-center font-medium mb-3
    font-size 21px
    line-height 1.19048
    letter-spacing .009em
    +breakpoint('md')
      font-size 24px
      line-height 1.16667
      letter-spacing .011em
      margin-bottom 16px


.base-tile
  &__category
    color #86868b
    font-size 12px
    font-weight 600
    line-height 1.33337
    letter-spacing -.01em
    text-transform uppercase

  &__time
    color #86868b
    font-size 14px
    font-weight 600
    line-height 1.28577
    letter-spacing -.016em
