//
// Font
//
$font-family = "San-Francisco"
$san-fran-semi-bold = "San-Francisco-semi-bold"

//
// Colours
//
$white = #ffffff
$light-grey = #b2b2b2
$dark-grey = #494749
$bg-grey = rgb(241, 243, 245)